@import url("https://fonts.googleapis.com/css?family=Poiret+One");

:root {
  --mainColor: #212322;
  --secondColor: #e39284;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainFont: "Poiret One";
}

body {
  background: var(--mainWhite);
  color: var(--mainColor);
  font-family: var(--mainFont), Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mainFont), "Courier New", Courier, monospace;
  letter-spacing: 0.25rem;
}


.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}
.footer {
  background: var(--mainBrown);
}



/* Hamburger */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: var(--mainColor);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after  {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--mainColor);
  border-radius: 5px;
  box-shadow:  0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.inside {
  background: white;
  padding: 20px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
}

.inside:hover {
  opacity: 0.8;
}